langgraph
langchain
langchain-community
langchain-core

tree-sitter
tree-sitter-python
tree-sitter-java

neo4j
networkx

chromadb
faiss-cpu

sentence-transformers

fastapi
uvicorn

python-dotenv
pydantic
